.search {
	&__body {
		display: flex;
	}

	&__wrapper {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 25px 20px 40px;
		@media (max-width: 414px) {
			padding: 15px 0;
		}
	}
	&__filter--wrapp {
		width: 100%;
		max-width: 1050px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 414px) {
			flex-wrap: wrap;
		}
		max-width: 985px;
	}

	&__main--inpt {
		@media (max-width: 480px) {
			margin-right: 0;
		}
		margin-right: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		max-width: 650px;
		justify-content: space-between;
		gap: 25px;
		background: #ffffff;
		box-shadow: 10px 30px 50px rgba(227, 222, 222, 0.4);
		border-radius: 5px;
		overflow: hidden;
		&:focus {
			border-color: pink;
		}
		input {
			background: transparent;
			border: none;
			color: #292626;
			font-size: 18px;
			padding: 11px 0px 11px 16px;
			outline: none;
			border: 1px solid transparent;
			width: 100%;

			&::placeholder {
				color: #49516f;
				opacity: 0.7;
			}
		}
		div span {
			margin: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			cursor: pointer;
			width: 40px;
			height: 40px;
			background: #ff477e;
			border-radius: 5px;
			color: #fff;
			@include trs;
			&:hover {
				background: #fa5a8ad9;
			}
		}
	}

	&__main--check {
		> label {
			cursor: pointer;
			display: flex;
			font-weight: 500;
			font-size: 16px;
			color: #7d7987;
			white-space: nowrap;
			@include trs;
			&:hover {
				color: #000;
			}
			@media (max-width: 414px) {
				margin-top: 20px;
				align-items: flex-start;
			}
			label {
				margin-left: 20px;
			}
		}
		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"] + label {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 20px;
			font: 14px/20px "Open Sans", Arial, sans-serif;
			color: #ddd;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}

		input[type="checkbox"] + label:last-child {
			margin-bottom: 0;
		}

		input[type="checkbox"] + label:before {
			content: "";
			display: block;
			width: 25px;
			height: 25px;
			border: 2px solid $mainColor;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0.6;
			-webkit-transition: all 0.12s, border-color 0.08s;
			transition: all 0.12s, border-color 0.08s;
		}

		input[type="checkbox"]:checked + label:before {
			width: 10px;
			top: -5px;
			left: 5px;
			border-radius: 0;
			opacity: 1;
			border-top-color: transparent;
			border-left-color: transparent;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&__fillters {
		margin-top: 55px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		@media (max-width: 414px) {
			margin-top: 20px;
		}
	}
	&__fillters--age-filter {
		@media (max-width: 480px) {
			max-width: 100%;
		}
		width: 100%;
		max-width: 242px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #ffffff;
		box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
		border-radius: 5px;
		padding: 14px 16px;
		.title {
			font-size: 14px;
			color: #7d7987;
			margin-right: 40px;
		}
		.counters-age {
			font-size: 14px;
			color: #bdbdbd;
			text-align: center;

			span {
				font-size: 16px;
				font-weight: 500;
				color: #292626;
				width: 30px;
				height: 22px;
				background: #f5f4f4;
				border-radius: 2px;
				display: inline-block;
				text-align: center;
				margin-left: 5px;
				margin-right: 10px;
				&:nth-child(1) {
					margin-right: 0;
				}
			}
		}
	}
	&__fillters--range {
		width: 242px;
		@media (max-width: 480px) {
			width: 100%;
		}

		.middle {
			position: relative;
			min-width: 100%;
			max-width: 500px;
		}

		.slider {
			position: relative;
			z-index: 1;
			height: 10px;
			margin: 0 15px;
		}
		.slider > .track {
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: #ffffff;
			box-shadow: 0px 6px 12px rgba(227, 222, 222, 0.4);
			border-radius: 5px;
		}
		.slider > .range {
			position: absolute;
			z-index: 2;
			left: 25%;
			right: 25%;
			top: 0;
			bottom: 0;
			border-radius: 5px;
			background: #fe004c;
		}
		.slider > .thumb {
			position: absolute;
			z-index: 3;
			width: 20px;
			height: 20px;
			background: #ff477e;
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
			border-radius: 50%;
			transition: box-shadow 0.3s ease-in-out;
		}
		.slider > .thumb.left {
			left: 25%;
			transform: translate(-15px, -5px);
		}
		.slider > .thumb.right {
			right: 25%;
			transform: translate(15px, -5px);
		}
		.slider > .thumb.hover {
			box-shadow: 0 0 0 10px rgba(98, 0, 238, 0.1);
		}
		.slider > .thumb.active {
			box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.2);
		}

		input[type="range"] {
			position: absolute;
			pointer-events: none;
			-webkit-appearance: none;
			z-index: 2;
			height: 10px;
			width: 100%;
			opacity: 0;
		}
		input[type="range"]::-webkit-slider-thumb {
			pointer-events: all;
			width: 20px;
			height: 20px;
			border-radius: 0;
			border: 0 none;
			background-color: red;
			-webkit-appearance: none;
		}
		input[type="range"]::-moz-range-thumb {
			pointer-events: all;
			width: 20px;
			height: 20px;
			border-radius: 0;
			border: 0 none;
			background-color: red;
			-webkit-appearance: none;
		}
	}

	&__fillters--sex {
		.custom-select {
			@media (max-width: 1024px) {
				min-width: 177px;
			}
			@media (max-width: 480px) {
				min-width: 313px;
			}
			min-width: 184px;
			border-color: transparent;
			padding: 16px 17px;
			height: auto;
			border-radius: 8px;
			font-size: 14px;
			color: #7d7987;
			box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
			option {
				color: #262626;
				background: #000;
			}
		}
	}
	&__fillters--married {
		.custom-select {
			@media (max-width: 480px) {
				min-width: 313px;
			}
			width: 250px;
			min-width: 184px;
			border-color: transparent;
			padding: 16px 17px;
			height: auto;
			border-radius: 8px;
			font-size: 14px;
			color: #7d7987;
			box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
			option {
				color: #262626;
				background: #000;
			}
		}
	}
	&__fillters--country {
		.custom-select {
			@media (max-width: 480px) {
				min-width: 313px;
			}
			width: 242px;
			border-color: transparent;
			padding: 16px 17px;
			height: auto;
			border-radius: 8px;
			font-size: 14px;
			color: #7d7987;
			box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
			option {
				color: #262626;
				background: #000;
			}
		}
	}
	&__fillters--cities {
		.custom-select {
			@media (max-width: 480px) {
				min-width: 313px;
			}
			width: 242px;
			border-color: transparent;
			padding: 16px 17px;
			height: auto;
			border-radius: 8px;
			font-size: 14px;
			color: #7d7987;
			box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
			option {
				color: #262626;
				background: #000;
			}
		}
	}
	&__fillters--childs {
		.custom-select {
			@media (max-width: 480px) {
				min-width: 313px;
			}
			width: 184px;
			border-color: transparent;
			padding: 16px 17px;
			height: auto;
			border-radius: 8px;
			font-size: 14px;
			color: #7d7987;
			box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
			option {
				color: #262626;
				background: #000;
			}
		}
	}
	&__fillters--hobby {
		.custom-select {
			@media (max-width: 480px) {
				min-width: 313px;
			}
			width: 250px;
			border-color: transparent;
			padding: 16px 17px;
			height: auto;
			border-radius: 8px;
			font-size: 14px;
			color: #7d7987;
			box-shadow: 10px 12px 24px rgba(227, 222, 222, 0.4);
			option {
				color: #262626;
				background: #000;
			}
		}
	}
	&__result-title {
		@include mainTitle;
		margin-top: 50px;
		margin-bottom: 30px;
		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			line-height: 45px;
		}
		@media (max-width: 414px) {
			font-size: 23px;
		}
	}
	&__result-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 18px;
	}
	&__result--view-profile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			font-weight: 600;
			font-size: 12px;
			color: #fe004c;
			padding: 10px 53px;
			background: #f8f8f8;
			box-shadow: 0px 5.26667px 10.5333px rgba(0, 0, 0, 0.16);
			border-radius: 5px;
			text-decoration: none;
			@include trs;
			&:hover {
				background: #fdc1c1;
			}
		}
		i {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background: #f8f8f8;
			box-shadow: 0px 5.26667px 10.5333px rgba(0, 0, 0, 0.15);
			color: #7d7987;
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			@include trs;
			&:hover {
				color: #262626;
			}
		}
	}
	&__adds {
		width: 100%;
		height: 240px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

.advantages {
	margin-bottom: 100px;
	margin-top: 100px;

	// .advantages__title

	&__title {
		@include mainTitle;
		@media (max-width: 414px) {
			font-size: 26px;
			line-height: 35px !important;
		}
		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			line-height: 45px;
		}
		margin-bottom: 40px;
	}

	// .advantages__cards

	&__cards {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 20px;
		@media (max-width: 414px) {
			justify-content: center;
		}
	}

	// .advantages__card

	&__card {
		width: 308px;
		background: #ffffff;
		box-shadow: 10px 30px 50px rgba(227, 222, 222, 0.4);
		border-radius: 10px;
		padding: 26px 40px 60px 17px;
		@media (max-width: 414px) {
			width: 300px;
		}
	}

	// .advantages__card-title

	&__card-title {
		font-weight: bold;
		font-size: 19px;
		color: #292626;
		mix-blend-mode: normal;
		margin: 25px 0px 14px 0px;
	}

	// .advantages__card-subtitle

	&__card-subtitle {
		font-size: 16px;
		line-height: 130%;
		color: #7d7987;
		mix-blend-mode: normal;
		font-weight: normal;
	}

	// .advantages__btn

	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		a {
			font-weight: 600;
			font-size: 18px;
			color: #f8f8f8;
			padding: 20px 40px;
			background: #fe004c;
			box-shadow: 0px 10px 20px rgba(251, 3, 77, 0.2);
			border-radius: 10px;
			display: inline-block;
			text-decoration: none;
			@include trs;
			&:hover {
				background: $hoverColor;
			}
		}
	}
}
